*{
  margin: 0;
  padding: 0;
}
body{
  padding-top: 65px;
  width: 100vw;
  
}
/* NAVBAR  AREA*/
.navbar{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: black;
  
}
.navbarul{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  
}
.navli{
  list-style: none;
}
.navli a {
  text-decoration: none;
  color: white;
}
.links:hover{
color: dodgerblue;
}


/* EMOJI */
.reactionButton{
  border: none;
  background-color: white;
  margin-right: 20px;

}

/* CreatePost */
.formArea{
  text-align: center;
}

/* POSTS */
h2{
  text-align: center;
  margin-top: 30px;
}
.postdiv{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}
.singlePost{
  text-align: center;
  align-items: center;
  margin-top: 30px;
  border: 1px solid black;
  width: 700px;
  height: 150px;
}

